BasedOnStyle: Google
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments:
  Enabled: true
  PadOperators: false
AlignConsecutiveMacros:
  Enabled: true
  AlignFunctionPointers: true
AllowShortBlocksOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
ColumnLimit: "120"
IndentWidth: "4"
