# SPDX-License-Identifier: Apache-2.0

# Enable MPU
CONFIG_ARM_MPU=y

# Enable HW stack protection
CONFIG_HW_STACK_PROTECTION=y

CONFIG_SERIAL=y

# enable GPIO
CONFIG_GPIO=y
CONFIG_I2C=y
CONFIG_PWM=y

# Display Driver
CONFIG_DISPLAY=y
CONFIG_ST7789V=y
